
<InputField::Checkbox
  @model={{this}}
  @field="showCountryCode"
/>
<InputField::Checkbox
  @model={{this}}
  @field="showAddress"
/>
<InputField::Checkbox
  @model={{this}}
  @field="showPhone"
/>

<LinkTo @route="floating">Floating</LinkTo>

{{#if this.showCountryCode}}
  <h1>GfInput::CountryCode</h1>
  <GfInput::CountryCode
    @value={{this.countryCode}}
    @valueChanged={{this.countryCodeChanged}}
    @required={{true}}
    id='input-country-code'
  />
  {{!-- <h1>OutputCountryCode</h1>
  <this.outputCountryCode
    @value={{this.countryCode}}
  /> --}}
{{/if}}

{{#if this.showAddress}}
  <h1>Input::Address</h1>
  <GfInput::Address @value={{this.address}} @valueChanged={{this.addressChanged}} />

  <button type="button" {{on "click" this.validateAddress}}>
    Validate
  </button>

  {{this.validationResult}}
{{/if}}

{{#if this.showPhone}}
  <h1>Input::Phone</h1>
  <Input::Phone @value={{this.phoneNumber}} @valueChanged={{this.phoneNumberChanged}} />
{{/if}}


{{!-- <h1>OutputAddress</h1>
<this.outputAddress @value={{this.address}} /> --}}
