<div class="field-wrapper">
  {{aupac-ember-data-typeahead selection=value displayKey="name" placeholder=placeholder queryKey="filter[name][value]" params=typeaheadParams class='form-control' modelClass=activeModelType action=(action 'typeaheadSelected')}}

  {{#if computedValue}}
    <button type="button" class="btn btn-default waves-effect waves-circle" {{action 'clearLookup'}}>
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  {{/if}}

  {{input-lookup-window title=title modelType=modelType activeModelType=activeModelType valueChanged=(action 'typeaheadSelected')}}
</div>
