{{#if setInitialValue.last}}
  {{#if lookupValue}}
    <span class="output text">
      <span class="value">
        {{#if (or inline (not hasRoute))}}
          {{lookupValue.name}}
        {{else}}
          <a href={{href-to route lookupValue}}>{{lookupValue.name}}</a>
        {{/if}}
      </span>
    </span>
  {{/if}}
{{/if}}
