{{#if setInitialValue.isIdle}}
  {{#if lookupValue}}
    {{#if (or inline (not hasRoute))}}
      {{lookupValue.name}}
    {{else}}
      <a href={{href-to route lookupValue}}>{{lookupValue.name}}</a>
    {{/if}}
  {{/if}}
{{/if}}
