{{#if setInitialValue.isIdle}}
  {{#if lookupValue}}
    {{#if inline}}
      {{lookupValue.name}}
    {{else}}
      <a href={{href-to route lookupValue}}>{{lookupValue.name}}</a>
    {{/if}}
  {{/if}}
{{/if}}
