# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/dist/
/tmp/

# dependencies
/node_modules/

# misc
/coverage/
!.*

# ember-try
/.node_modules.ember-try/
/package.json.ember-try


config/ember-intl.js
config/ember-try.js
config/environment.js
index.js
testem.js
tests/dummy/config/environment.js
tests/dummy/config/targets.js