//gitlab.com/api/v4/projects/:_authToken=${GITLAB_TOKEN}
//gitlab.com/api/v4/projects/6672779/packages/npm/:_authToken=${GITLAB_TOKEN}
//gitlab.com/api/v4/packages/npm/:_authToken=${GITLAB_TOKEN}
@getflights:registry=https://gitlab.com/api/v4/packages/npm/