<button
  type="button"
  class="btn btn-primary"
  ...attributes
  {{on "click" (perform this.generatePdf)}}
>
  {{#if hasBlock}}
    {{yield this.generatePdf}}
  {{else}}
    {{#if this.generatePdf.isIdle}}
      Generate
    {{else}}
      Generating
      <Loading />
    {{/if}}
  {{/if}}
</button>