<button type="button" class="btn bgm-pink" onclick={{perform this.generatePdf}}>
  {{#if hasBlock}}
    {{yield this.generatePdf}}
  {{else}}
    {{#if generatePdf.isIdle}}
      Generate
    {{else}}
      Generating <Loading />
    {{/if}}
  {{/if}}
</button>