<label class="btn btn-default btn-info btn-icon-text waves-effect">
  <i class="zmdi zmdi-hc-lg zmdi-attachment-alt"></i> Browse
  <div class="hidden">
    {{file-field id=inputId multiple=multiple change=(action 'filesSelected')}}
  </div>
</label>
