<div class="button-bar">
  <a {{action 'addNewValue'}} class="btn btn-default btn-xs waves-effect">
    Add
  </a>
</div>

{{#sortable-group tagName="div" onChange=(action 'reorderLines') as |group|}}
  {{#each value as |singleValue index|}}
      {{#sortable-item tagName="div" model=singleValue group=group handle=".sort-handle"}}
        <div class="b-0 sort-handle">&varr;</div>
        {{input-text value=singleValue valueChanged=(action 'setArrayValue' index)}}
        <a {{action 'removeIndexFromValue' index}} class="btn btn-default icon-button">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      {{/sortable-item}}
  {{/each}}
{{/sortable-group}}