{{#if this.address.countryCode}}
  {{#if this.address.format}}
    {{#each this.outputDisplayRows as |row|}}
      {{#if (not row.emptyRow)}}
        <div class="row">
          <div class="col-12">
            {{#each row.columns as |column|}}
              {{component (concat 'output-' column.component)
                value=(get this.address column.field)
                valueChanged=(action (fn this.addressFieldChanged column.field))
                placeholder=column.label
                none=column.none
                selectOptions=column.selectOptions
                disabled=column.disabled}}
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}

  <div class="row">
    <div class="col-12">
      <OutputSelectCountry @value={{this.address.countryCode}} />
    </div>
  </div>
{{else}}
  <span class="output address">
    <span class="value empty"></span>
  </span>
{{/if}}