.gf-input {
  // grow horizonally
  flex-grow: 1;
  // grow vertically
  display: flex;

  // fix overflow issues
  min-width: 0;
}

.input-group > .gf-input {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.gf-input-address {
  flex-direction: column;
  position: relative;
  background-color: var(--color-subtle-light);
  width: 100%;

  .country-select {
    position: inherit;
  }

  .address-spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-subtle-light);
  }
}

.gf-input-country-code,
.gf-input-eticket-configuration {
  &__loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gf-input-date {
  position: relative;

  input {
    padding-right: 2rem;
  }

  &::after {
    @include icon('\E807');
    color: var(--color-theme);

    position: absolute;
    right: .5rem;
    // width: 1rem;
    top: 50%;
    transform: translateY(-50%);

    // Make sure you can still click the underlying input
    pointer-events: none;
  }
}

.gf-input-drupal-file {
  padding: 0;
  flex-direction: column;

  &__uploading {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--color-greyish-dark);
    cursor: progress;
  }

  &__progress {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }

  &__list {
    margin: 0;
    padding: .5rem;
    list-style: none;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .remove {
    padding: 0;
    font-size: 0.75rem;

    &:focus {
      box-shadow: none;
    }
  }
}

.gf-input-drupal-image {
  justify-content: space-evenly;
  height: 100%;

  &__link,
  &__edit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}

.gf-input-drupal-images {
  flex-direction: column;

  &__image {
    flex-grow: 1;
    padding: .5rem;
    max-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gf-input-file {
  input {
    display: none !important;
  }

  // height: 100%;

  &__browse {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-greyish-dark);

    i {
      font-size: 0.75rem;
      margin-left: 0.25rem;
    }
  }
}

.gf-input-has-many {
  flex-direction: column;
}

.gf-input-lookup {
  &__current {
    @extend .form-control;
    cursor: default;
    padding: 0;

    position: relative;
    display: flex;
    align-items: center;

    // Because of white-space: nowrap on .name
    min-width: 0;
  }

  &__current,
  &__autocomplete {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    height: 100%;
  }

  &__button {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
  }

  &--empty &__current {
    display: none;
  }

  &--empty#{&}--multi &__button {
    flex-grow: 1;
  }

  &__clear {
    @extend .ember-power-select-clear-btn;
  }

  > .gf-input-model-autocomplete {
    .ember-power-select-trigger {
      min-width: 10ch;
    }
  }

  .btn-default {
    background-color: var(--color-subtle-light);
  }
}

.gf-input-model-autocomplete {
  // Because of white-space: nowrap on .name
  min-width: 0;
}

.gf-input-model-autocomplete,
.gf-input-lookup {
  &__value,
  &__option {
    padding: 0.375rem 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex-grow: 1;
    // Because of white-space: nowrap on .name
    min-width: 0;

    .name {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .id {
      color: var(--color-dark-accent);
      font-size: 0.8rem;
      line-height: initial;
    }
  }
}

.gf-input-multi {
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-subtle-light);

  &__item {
    display: flex;
  }

  &__button {
    width: 100%;
    height: 100%;

    &__wrapper {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
