@import 'flatpickr/dist/flatpickr';

.flatpickr {
  &-calendar {
    border-radius: 0;
    background-color: var(--color-subtle-light) !important;
    box-shadow: 0px 0.625rem 1.875rem rgba(36, 43, 102, 0.2) !important;
  }

  &-day {
    color: var(--color-dark);

    &.today {
      border-color: var(--color-dark);
    }

    &.selected,
    &.endRange,
    &.startRange {
      background-color: var(--color-theme);
      border-color: var(--color-theme);
      color: var(--color-white);

      &:focus,
      &:hover {
        background-color: var(--color-dark);
        border-color: var(--color-dark);
      }
    }

    &.selected.startRange + .endRange:not(:nth-child(7n + 1)),
    &.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
    &.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
      box-shadow: -0.625rem 0 0 var(--color-theme);
    }
  }
}
