// @import "/node_modules/intl-tel-input/build/css/intlTelInput.css";

// Make sure the dropdown can overflow the input and be visible
.input.phone-intl {
  overflow: visible;
}

.input-group .iti {
  flex-basis: calc(100% - 7.5rem);
  flex-shrink: 1;
  flex-grow: 1;
}

.iti {
  position: relative;
  display: flex;
  flex-grow: 1;
  // height: 100%;

  &__hide {
    display: none;
  }
  &__v-hide {
    visibility: hidden;
  }

  input,
  input[type="text"],
  input[type="tel"] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0;
  }

  &__flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  &__selected-flag {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 6px 0 8px;

    &:focus {
      outline: none;
      background-color: var(--color-focus-light);
      outline: 0;
      box-shadow: none;
    }
  }

  &__arrow {
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555;

    &--up {
      border-top: none;
      border-bottom: 4px solid #555;
    }
  }

  &__country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 0px 0.625rem 1.875rem rgba(36, 43, 102, 0.2);
    background-color: var(--color-subtle-light);
    border: 0;
    // white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    @media (max-width: 500px) {
      white-space: normal;
    }

    &--dropup {
      bottom: 100%;
      margin-bottom: -1px;
    }
  }

  &__flag-box {
    display: inline-block;
    width: 20px;
  }

  &__divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  &__country {
    padding: 5px 10px;
    outline: none;

    &.iti__highlight {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &__dial-code {
    color: #999;

    &.iti__highlight {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &__flag-box,
  &__country-name,
  &__dial-code {
    vertical-align: middle;
  }

  &__flag-box,
  &__country-name {
    margin-right: 6px;
  }

  &--allow-dropdown input,
  &--allow-dropdown input[type="text"],
  &--allow-dropdown input[type="tel"],
  &--separate-dial-code input,
  &--separate-dial-code input[type="text"],
  &--separate-dial-code input[type="tel"] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
  }

  &--allow-dropdown,
  &--separate-dial-code {
    .iti__flag-container {
      right: auto;
      left: 0;
    }
  }

  &--allow-dropdown {
    .iti__flag-container {
      &:hover {
        cursor: pointer;
      }
    }

    input[disabled],
    input[readonly] {
      + .iti__flag-container {
        &:hover {
          cursor: default;

          .iti__selected-flag {
            background-color: transparent;
          }
        }
      }
    }
  }

  &--separate-dial-code {
    .iti__selected-dial-code {
      margin-left: 6px;
    }
  }

  &--container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 1060;
    padding: 1px;

    &:hover {
      cursor: pointer;
    }
  }

  &-mobile {
    .iti {
      &--container {
        top: 30px;
        bottom: 30px;
        left: 30px;
        right: 30px;
        position: fixed;
      }
      &__country-list {
        max-height: 100%;
        width: 100%;
      }
      &__country {
        padding: 10px 10px;
        line-height: 1.5em;
      }
    }
  }

  &__flag {
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: center center;

    &.iti__ac {
      background-image: url("/assets/images/flags/ac.svg");
    }
    &.iti__ad {
      background-image: url("/assets/images/flags/ad.svg");
    }
    &.iti__ae {
      background-image: url("/assets/images/flags/ae.svg");
    }
    &.iti__af {
      background-image: url("/assets/images/flags/af.svg");
    }
    &.iti__ag {
      background-image: url("/assets/images/flags/ag.svg");
    }
    &.iti__ai {
      background-image: url("/assets/images/flags/ai.svg");
    }
    &.iti__al {
      background-image: url("/assets/images/flags/al.svg");
    }
    &.iti__am {
      background-image: url("/assets/images/flags/am.svg");
    }
    &.iti__ao {
      background-image: url("/assets/images/flags/ao.svg");
    }
    &.iti__aq {
      background-image: url("/assets/images/flags/aq.svg");
    }
    &.iti__ar {
      background-image: url("/assets/images/flags/ar.svg");
    }
    &.iti__as {
      background-image: url("/assets/images/flags/as.svg");
    }
    &.iti__at {
      background-image: url("/assets/images/flags/at.svg");
    }
    &.iti__au {
      background-image: url("/assets/images/flags/au.svg");
    }
    &.iti__aw {
      background-image: url("/assets/images/flags/aw.svg");
    }
    &.iti__ax {
      background-image: url("/assets/images/flags/ax.svg");
    }
    &.iti__az {
      background-image: url("/assets/images/flags/az.svg");
    }
    &.iti__ba {
      background-image: url("/assets/images/flags/ba.svg");
    }
    &.iti__bb {
      background-image: url("/assets/images/flags/bb.svg");
    }
    &.iti__bd {
      background-image: url("/assets/images/flags/bd.svg");
    }
    &.iti__be {
      background-image: url("/assets/images/flags/be.svg");
    }
    &.iti__bf {
      background-image: url("/assets/images/flags/bf.svg");
    }
    &.iti__bg {
      background-image: url("/assets/images/flags/bg.svg");
    }
    &.iti__bh {
      background-image: url("/assets/images/flags/bh.svg");
    }
    &.iti__bi {
      background-image: url("/assets/images/flags/bi.svg");
    }
    &.iti__bj {
      background-image: url("/assets/images/flags/bj.svg");
    }
    &.iti__bl {
      background-image: url("/assets/images/flags/bl.svg");
    }
    &.iti__bm {
      background-image: url("/assets/images/flags/bm.svg");
    }
    &.iti__bn {
      background-image: url("/assets/images/flags/bn.svg");
    }
    &.iti__bo {
      background-image: url("/assets/images/flags/bo.svg");
    }
    &.iti__bq {
      background-image: url("/assets/images/flags/bq.svg");
    }
    &.iti__br {
      background-image: url("/assets/images/flags/br.svg");
    }
    &.iti__bs {
      background-image: url("/assets/images/flags/bs.svg");
    }
    &.iti__bt {
      background-image: url("/assets/images/flags/bt.svg");
    }
    &.iti__bv {
      background-image: url("/assets/images/flags/bv.svg");
    }
    &.iti__bw {
      background-image: url("/assets/images/flags/bw.svg");
    }
    &.iti__by {
      background-image: url("/assets/images/flags/by.svg");
    }
    &.iti__bz {
      background-image: url("/assets/images/flags/bz.svg");
    }
    &.iti__ca {
      background-image: url("/assets/images/flags/ca.svg");
    }
    &.iti__cc {
      background-image: url("/assets/images/flags/cc.svg");
    }
    &.iti__cd {
      background-image: url("/assets/images/flags/cd.svg");
    }
    &.iti__cf {
      background-image: url("/assets/images/flags/cf.svg");
    }
    &.iti__cg {
      background-image: url("/assets/images/flags/cg.svg");
    }
    &.iti__ch {
      background-image: url("/assets/images/flags/ch.svg");
    }
    &.iti__ci {
      background-image: url("/assets/images/flags/ci.svg");
    }
    &.iti__ck {
      background-image: url("/assets/images/flags/ck.svg");
    }
    &.iti__cl {
      background-image: url("/assets/images/flags/cl.svg");
    }
    &.iti__cm {
      background-image: url("/assets/images/flags/cm.svg");
    }
    &.iti__cn {
      background-image: url("/assets/images/flags/cn.svg");
    }
    &.iti__co {
      background-image: url("/assets/images/flags/co.svg");
    }
    &.iti__cp {
      background-image: url("/assets/images/flags/cp.svg");
    }
    &.iti__cr {
      background-image: url("/assets/images/flags/cr.svg");
    }
    &.iti__cu {
      background-image: url("/assets/images/flags/cu.svg");
    }
    &.iti__cv {
      background-image: url("/assets/images/flags/cv.svg");
    }
    &.iti__cw {
      background-image: url("/assets/images/flags/cw.svg");
    }
    &.iti__cx {
      background-image: url("/assets/images/flags/cx.svg");
    }
    &.iti__cy {
      background-image: url("/assets/images/flags/cy.svg");
    }
    &.iti__cz {
      background-image: url("/assets/images/flags/cz.svg");
    }
    &.iti__de {
      background-image: url("/assets/images/flags/de.svg");
    }
    &.iti__dg {
      background-image: url("/assets/images/flags/dg.svg");
    }
    &.iti__dj {
      background-image: url("/assets/images/flags/dj.svg");
    }
    &.iti__dk {
      background-image: url("/assets/images/flags/dk.svg");
    }
    &.iti__dm {
      background-image: url("/assets/images/flags/dm.svg");
    }
    &.iti__do {
      background-image: url("/assets/images/flags/do.svg");
    }
    &.iti__dz {
      background-image: url("/assets/images/flags/dz.svg");
    }
    &.iti__ea {
      background-image: url("/assets/images/flags/ea.svg");
    }
    &.iti__ec {
      background-image: url("/assets/images/flags/ec.svg");
    }
    &.iti__ee {
      background-image: url("/assets/images/flags/ee.svg");
    }
    &.iti__eg {
      background-image: url("/assets/images/flags/eg.svg");
    }
    &.iti__eh {
      background-image: url("/assets/images/flags/eh.svg");
    }
    &.iti__er {
      background-image: url("/assets/images/flags/er.svg");
    }
    &.iti__es {
      background-image: url("/assets/images/flags/es.svg");
    }
    &.iti__et {
      background-image: url("/assets/images/flags/et.svg");
    }
    &.iti__eu {
      background-image: url("/assets/images/flags/eu.svg");
    }
    &.iti__fi {
      background-image: url("/assets/images/flags/fi.svg");
    }
    &.iti__fj {
      background-image: url("/assets/images/flags/fj.svg");
    }
    &.iti__fk {
      background-image: url("/assets/images/flags/fk.svg");
    }
    &.iti__fm {
      background-image: url("/assets/images/flags/fm.svg");
    }
    &.iti__fo {
      background-image: url("/assets/images/flags/fo.svg");
    }
    &.iti__fr {
      background-image: url("/assets/images/flags/fr.svg");
    }
    &.iti__ga {
      background-image: url("/assets/images/flags/ga.svg");
    }
    &.iti__gb {
      background-image: url("/assets/images/flags/gb.svg");
    }
    &.iti__gd {
      background-image: url("/assets/images/flags/gd.svg");
    }
    &.iti__ge {
      background-image: url("/assets/images/flags/ge.svg");
    }
    &.iti__gf {
      background-image: url("/assets/images/flags/gf.svg");
    }
    &.iti__gg {
      background-image: url("/assets/images/flags/gg.svg");
    }
    &.iti__gh {
      background-image: url("/assets/images/flags/gh.svg");
    }
    &.iti__gi {
      background-image: url("/assets/images/flags/gi.svg");
    }
    &.iti__gl {
      background-image: url("/assets/images/flags/gl.svg");
    }
    &.iti__gm {
      background-image: url("/assets/images/flags/gm.svg");
    }
    &.iti__gn {
      background-image: url("/assets/images/flags/gn.svg");
    }
    &.iti__gp {
      background-image: url("/assets/images/flags/gp.svg");
    }
    &.iti__gq {
      background-image: url("/assets/images/flags/gq.svg");
    }
    &.iti__gr {
      background-image: url("/assets/images/flags/gr.svg");
    }
    &.iti__gs {
      background-image: url("/assets/images/flags/gs.svg");
    }
    &.iti__gt {
      background-image: url("/assets/images/flags/gt.svg");
    }
    &.iti__gu {
      background-image: url("/assets/images/flags/gu.svg");
    }
    &.iti__gw {
      background-image: url("/assets/images/flags/gw.svg");
    }
    &.iti__gy {
      background-image: url("/assets/images/flags/gy.svg");
    }
    &.iti__hk {
      background-image: url("/assets/images/flags/hk.svg");
    }
    &.iti__hm {
      background-image: url("/assets/images/flags/hm.svg");
    }
    &.iti__hn {
      background-image: url("/assets/images/flags/hn.svg");
    }
    &.iti__hr {
      background-image: url("/assets/images/flags/hr.svg");
    }
    &.iti__ht {
      background-image: url("/assets/images/flags/ht.svg");
    }
    &.iti__hu {
      background-image: url("/assets/images/flags/hu.svg");
    }
    &.iti__ic {
      background-image: url("/assets/images/flags/ic.svg");
    }
    &.iti__id {
      background-image: url("/assets/images/flags/id.svg");
    }
    &.iti__ie {
      background-image: url("/assets/images/flags/ie.svg");
    }
    &.iti__il {
      background-image: url("/assets/images/flags/il.svg");
    }
    &.iti__im {
      background-image: url("/assets/images/flags/im.svg");
    }
    &.iti__in {
      background-image: url("/assets/images/flags/in.svg");
    }
    &.iti__io {
      background-image: url("/assets/images/flags/io.svg");
    }
    &.iti__iq {
      background-image: url("/assets/images/flags/iq.svg");
    }
    &.iti__ir {
      background-image: url("/assets/images/flags/ir.svg");
    }
    &.iti__is {
      background-image: url("/assets/images/flags/is.svg");
    }
    &.iti__it {
      background-image: url("/assets/images/flags/it.svg");
    }
    &.iti__je {
      background-image: url("/assets/images/flags/je.svg");
    }
    &.iti__jm {
      background-image: url("/assets/images/flags/jm.svg");
    }
    &.iti__jo {
      background-image: url("/assets/images/flags/jo.svg");
    }
    &.iti__jp {
      background-image: url("/assets/images/flags/jp.svg");
    }
    &.iti__ke {
      background-image: url("/assets/images/flags/ke.svg");
    }
    &.iti__kg {
      background-image: url("/assets/images/flags/kg.svg");
    }
    &.iti__kh {
      background-image: url("/assets/images/flags/kh.svg");
    }
    &.iti__ki {
      background-image: url("/assets/images/flags/ki.svg");
    }
    &.iti__km {
      background-image: url("/assets/images/flags/km.svg");
    }
    &.iti__kn {
      background-image: url("/assets/images/flags/kn.svg");
    }
    &.iti__kp {
      background-image: url("/assets/images/flags/kp.svg");
    }
    &.iti__kr {
      background-image: url("/assets/images/flags/kr.svg");
    }
    &.iti__kw {
      background-image: url("/assets/images/flags/kw.svg");
    }
    &.iti__ky {
      background-image: url("/assets/images/flags/ky.svg");
    }
    &.iti__kz {
      background-image: url("/assets/images/flags/kz.svg");
    }
    &.iti__la {
      background-image: url("/assets/images/flags/la.svg");
    }
    &.iti__lb {
      background-image: url("/assets/images/flags/lb.svg");
    }
    &.iti__lc {
      background-image: url("/assets/images/flags/lc.svg");
    }
    &.iti__li {
      background-image: url("/assets/images/flags/li.svg");
    }
    &.iti__lk {
      background-image: url("/assets/images/flags/lk.svg");
    }
    &.iti__lr {
      background-image: url("/assets/images/flags/lr.svg");
    }
    &.iti__ls {
      background-image: url("/assets/images/flags/ls.svg");
    }
    &.iti__lt {
      background-image: url("/assets/images/flags/lt.svg");
    }
    &.iti__lu {
      background-image: url("/assets/images/flags/lu.svg");
    }
    &.iti__lv {
      background-image: url("/assets/images/flags/lv.svg");
    }
    &.iti__ly {
      background-image: url("/assets/images/flags/ly.svg");
    }
    &.iti__ma {
      background-image: url("/assets/images/flags/ma.svg");
    }
    &.iti__mc {
      background-image: url("/assets/images/flags/mc.svg");
    }
    &.iti__md {
      background-image: url("/assets/images/flags/md.svg");
    }
    &.iti__me {
      background-image: url("/assets/images/flags/me.svg");
    }
    &.iti__mf {
      background-image: url("/assets/images/flags/mf.svg");
    }
    &.iti__mg {
      background-image: url("/assets/images/flags/mg.svg");
    }
    &.iti__mh {
      background-image: url("/assets/images/flags/mh.svg");
    }
    &.iti__mk {
      background-image: url("/assets/images/flags/mk.svg");
    }
    &.iti__ml {
      background-image: url("/assets/images/flags/ml.svg");
    }
    &.iti__mm {
      background-image: url("/assets/images/flags/mm.svg");
    }
    &.iti__mn {
      background-image: url("/assets/images/flags/mn.svg");
    }
    &.iti__mo {
      background-image: url("/assets/images/flags/mo.svg");
    }
    &.iti__mp {
      background-image: url("/assets/images/flags/mp.svg");
    }
    &.iti__mq {
      background-image: url("/assets/images/flags/mq.svg");
    }
    &.iti__mr {
      background-image: url("/assets/images/flags/mr.svg");
    }
    &.iti__ms {
      background-image: url("/assets/images/flags/ms.svg");
    }
    &.iti__mt {
      background-image: url("/assets/images/flags/mt.svg");
    }
    &.iti__mu {
      background-image: url("/assets/images/flags/mu.svg");
    }
    &.iti__mv {
      background-image: url("/assets/images/flags/mv.svg");
    }
    &.iti__mw {
      background-image: url("/assets/images/flags/mw.svg");
    }
    &.iti__mx {
      background-image: url("/assets/images/flags/mx.svg");
    }
    &.iti__my {
      background-image: url("/assets/images/flags/my.svg");
    }
    &.iti__mz {
      background-image: url("/assets/images/flags/mz.svg");
    }
    &.iti__na {
      background-image: url("/assets/images/flags/na.svg");
    }
    &.iti__nc {
      background-image: url("/assets/images/flags/nc.svg");
    }
    &.iti__ne {
      background-image: url("/assets/images/flags/ne.svg");
    }
    &.iti__nf {
      background-image: url("/assets/images/flags/nf.svg");
    }
    &.iti__ng {
      background-image: url("/assets/images/flags/ng.svg");
    }
    &.iti__ni {
      background-image: url("/assets/images/flags/ni.svg");
    }
    &.iti__nl {
      background-image: url("/assets/images/flags/nl.svg");
    }
    &.iti__no {
      background-image: url("/assets/images/flags/no.svg");
    }
    &.iti__np {
      background-image: url("/assets/images/flags/np.svg");
    }
    &.iti__nr {
      background-image: url("/assets/images/flags/nr.svg");
    }
    &.iti__nu {
      background-image: url("/assets/images/flags/nu.svg");
    }
    &.iti__nz {
      background-image: url("/assets/images/flags/nz.svg");
    }
    &.iti__om {
      background-image: url("/assets/images/flags/om.svg");
    }
    &.iti__pa {
      background-image: url("/assets/images/flags/pa.svg");
    }
    &.iti__pe {
      background-image: url("/assets/images/flags/pe.svg");
    }
    &.iti__pf {
      background-image: url("/assets/images/flags/pf.svg");
    }
    &.iti__pg {
      background-image: url("/assets/images/flags/pg.svg");
    }
    &.iti__ph {
      background-image: url("/assets/images/flags/ph.svg");
    }
    &.iti__pk {
      background-image: url("/assets/images/flags/pk.svg");
    }
    &.iti__pl {
      background-image: url("/assets/images/flags/pl.svg");
    }
    &.iti__pm {
      background-image: url("/assets/images/flags/pm.svg");
    }
    &.iti__pn {
      background-image: url("/assets/images/flags/pn.svg");
    }
    &.iti__pr {
      background-image: url("/assets/images/flags/pr.svg");
    }
    &.iti__ps {
      background-image: url("/assets/images/flags/ps.svg");
    }
    &.iti__pt {
      background-image: url("/assets/images/flags/pt.svg");
    }
    &.iti__pw {
      background-image: url("/assets/images/flags/pw.svg");
    }
    &.iti__py {
      background-image: url("/assets/images/flags/py.svg");
    }
    &.iti__qa {
      background-image: url("/assets/images/flags/qa.svg");
    }
    &.iti__re {
      background-image: url("/assets/images/flags/re.svg");
    }
    &.iti__ro {
      background-image: url("/assets/images/flags/ro.svg");
    }
    &.iti__rs {
      background-image: url("/assets/images/flags/rs.svg");
    }
    &.iti__ru {
      background-image: url("/assets/images/flags/ru.svg");
    }
    &.iti__rw {
      background-image: url("/assets/images/flags/rw.svg");
    }
    &.iti__sa {
      background-image: url("/assets/images/flags/sa.svg");
    }
    &.iti__sb {
      background-image: url("/assets/images/flags/sb.svg");
    }
    &.iti__sc {
      background-image: url("/assets/images/flags/sc.svg");
    }
    &.iti__sd {
      background-image: url("/assets/images/flags/sd.svg");
    }
    &.iti__se {
      background-image: url("/assets/images/flags/se.svg");
    }
    &.iti__sg {
      background-image: url("/assets/images/flags/sg.svg");
    }
    &.iti__sh {
      background-image: url("/assets/images/flags/sh.svg");
    }
    &.iti__si {
      background-image: url("/assets/images/flags/si.svg");
    }
    &.iti__sj {
      background-image: url("/assets/images/flags/sj.svg");
    }
    &.iti__sk {
      background-image: url("/assets/images/flags/sk.svg");
    }
    &.iti__sl {
      background-image: url("/assets/images/flags/sl.svg");
    }
    &.iti__sm {
      background-image: url("/assets/images/flags/sm.svg");
    }
    &.iti__sn {
      background-image: url("/assets/images/flags/sn.svg");
    }
    &.iti__so {
      background-image: url("/assets/images/flags/so.svg");
    }
    &.iti__sr {
      background-image: url("/assets/images/flags/sr.svg");
    }
    &.iti__ss {
      background-image: url("/assets/images/flags/ss.svg");
    }
    &.iti__st {
      background-image: url("/assets/images/flags/st.svg");
    }
    &.iti__sv {
      background-image: url("/assets/images/flags/sv.svg");
    }
    &.iti__sx {
      background-image: url("/assets/images/flags/sx.svg");
    }
    &.iti__sy {
      background-image: url("/assets/images/flags/sy.svg");
    }
    &.iti__sz {
      background-image: url("/assets/images/flags/sz.svg");
    }
    &.iti__ta {
      background-image: url("/assets/images/flags/ta.svg");
    }
    &.iti__tc {
      background-image: url("/assets/images/flags/tc.svg");
    }
    &.iti__td {
      background-image: url("/assets/images/flags/td.svg");
    }
    &.iti__tf {
      background-image: url("/assets/images/flags/tf.svg");
    }
    &.iti__tg {
      background-image: url("/assets/images/flags/tg.svg");
    }
    &.iti__th {
      background-image: url("/assets/images/flags/th.svg");
    }
    &.iti__tj {
      background-image: url("/assets/images/flags/tj.svg");
    }
    &.iti__tk {
      background-image: url("/assets/images/flags/tk.svg");
    }
    &.iti__tl {
      background-image: url("/assets/images/flags/tl.svg");
    }
    &.iti__tm {
      background-image: url("/assets/images/flags/tm.svg");
    }
    &.iti__tn {
      background-image: url("/assets/images/flags/tn.svg");
    }
    &.iti__to {
      background-image: url("/assets/images/flags/to.svg");
    }
    &.iti__tr {
      background-image: url("/assets/images/flags/tr.svg");
    }
    &.iti__tt {
      background-image: url("/assets/images/flags/tt.svg");
    }
    &.iti__tv {
      background-image: url("/assets/images/flags/tv.svg");
    }
    &.iti__tw {
      background-image: url("/assets/images/flags/tw.svg");
    }
    &.iti__tz {
      background-image: url("/assets/images/flags/tz.svg");
    }
    &.iti__ua {
      background-image: url("/assets/images/flags/ua.svg");
    }
    &.iti__ug {
      background-image: url("/assets/images/flags/ug.svg");
    }
    &.iti__um {
      background-image: url("/assets/images/flags/um.svg");
    }
    &.iti__un {
      background-image: url("/assets/images/flags/un.svg");
    }
    &.iti__us {
      background-image: url("/assets/images/flags/us.svg");
    }
    &.iti__uy {
      background-image: url("/assets/images/flags/uy.svg");
    }
    &.iti__uz {
      background-image: url("/assets/images/flags/uz.svg");
    }
    &.iti__va {
      background-image: url("/assets/images/flags/va.svg");
    }
    &.iti__vc {
      background-image: url("/assets/images/flags/vc.svg");
    }
    &.iti__ve {
      background-image: url("/assets/images/flags/ve.svg");
    }
    &.iti__vg {
      background-image: url("/assets/images/flags/vg.svg");
    }
    &.iti__vi {
      background-image: url("/assets/images/flags/vi.svg");
    }
    &.iti__vn {
      background-image: url("/assets/images/flags/vn.svg");
    }
    &.iti__vu {
      background-image: url("/assets/images/flags/vu.svg");
    }
    &.iti__wf {
      background-image: url("/assets/images/flags/wf.svg");
    }
    &.iti__ws {
      background-image: url("/assets/images/flags/ws.svg");
    }
    &.iti__xk {
      background-image: url("/assets/images/flags/xk.svg");
    }
    &.iti__ye {
      background-image: url("/assets/images/flags/ye.svg");
    }
    &.iti__yt {
      background-image: url("/assets/images/flags/yt.svg");
    }
    &.iti__za {
      background-image: url("/assets/images/flags/za.svg");
    }
    &.iti__zm {
      background-image: url("/assets/images/flags/zm.svg");
    }
    &.iti__zw {
      background-image: url("/assets/images/flags/zw.svg");
    }
  }
}
