.modal {
  &-fit-content {
    --bs-modal-width:fit-content;
  }

  &-header {
    justify-content: center;
    padding: 0.75rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }
  }

  &-footer {
    &__actions {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
