<a data-toggle="dropdown" href="" aria-expanded="false">
  <i class="him-icon {{icon}}"></i>
  {{#if count}}
    <i class="him-counts">{{count}}</i>
  {{/if}}
</a>
<div class="dropdown-menu dropdown-menu-lg pull-right">

    <div class="lg-header"></div>
    <div class="lg-body">
      {{yield}}
    </div>

</div>