<div class="row">
  <div class="col-sm-12">
    <div class="banner-content-inner">
      <h4 class="title">
        {{model.name}}<br/>
        {{#if model.created}}
          <small>Created:  {{output-field model=model field="created" inline=true}}</small><br/>
        {{/if}}
        {{#if model.changed}}
          <small>Modified: {{output-field model=model field="changed" inline=true}}</small>
        {{/if}}
      </h4>
      {{#if showSpinner}}
        {{mist-spinner size="20px"}}
      {{/if}}
    </div>
  </div>
</div>