<div class="card-header ch-alt">
  <div class="fx-container">
    <h2 class="fx-grow">Recently viewed records</h2>
  </div>
</div>
<div class="card-body">
  <table class="table table-hover">
    <tbody>
      {{#each recentlyViewedRecords as |recentlyViewedRecord|}}
        <tr>
          <td><a href="{{href-to (concat recentlyViewedRecord.type '.view') recentlyViewedRecord.id}}">{{recentlyViewedRecord.name}}</a></td>
        </tr>
      {{else}}
        <tr>
          <td class="no-results">No recently viewed records</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>