<a id={{ariaId}} class={{if className (concat className ' waves-effect') 'waves-effect'}} data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  <IconButtonMore />
</a>
{{#mist-menu class="dropdown-menu dropdown-menu-right" aria-labelledby=ariaId}}
  {{yield}}
{{/mist-menu}}
