<a id={{ariaId}} data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  <i class="zmdi zmdi-more-vert"></i>
</a>
{{#mist-menu class="dropdown-menu dropdown-menu-right" aria-labelledby=ariaId}}
  {{yield}}
{{/mist-menu}}
