<Floating
  @type={{this.floatingType}}
  @options={{this.floatingOptions}}
  as |ref FloatingElement|
>
  {{! template-lint-disable no-inline-styles }}
  <button
    style='display:block; margin-left: auto; margin-right: auto;'
    type='button'
    {{ref}}
  >
    Hover or click me
  </button>
  <FloatingElement>
    I am floating and have more text than the button
  </FloatingElement>
</Floating>

<Floating
  @type='tooltip'
  @options={{hash inline=true placement='top'}}
  as |ref FloatingElement|
>
  {{!-- template-lint-disable no-inline-styles --}}
  <div style='width: 300px; margin-top: 50px;'>
    Lorem ipsum dolor sit amet,<span {{ref}}>Hover me for tooltip</span>
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
    officia deserunt mollit anim id est laborum.
  </div>
  <FloatingElement>
    Im floating here
  </FloatingElement>
</Floating>