.cui-calendar {
  &__header {
    display: flex;
    justify-content: space-between;

    &__filters {
      display: flex;
      gap: 1rem;
    }

    // &__actions {
    // }

    padding: 1rem;
    padding-bottom: 0;
  }

  &__calendar {
    position: relative;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
