.cui-search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;

  .form-control,
  .input-group-text,
  .input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 0;
  }

  // &__fieldselect {}

  &__icon {
    display: flex;
    align-items: center;

    -webkit-appearance: auto;
    appearance: auto;
    background: transparent;
    border: none;
    color: var(--color-dark-accent);
  }

  &__actions {
    margin: 0;
    gap: 0.5rem;

    > .action-menu__item {
      max-width: 2rem;

      * {
        justify-content: center;
      }

      .action-menu__link {
        background: var(--color-subtle-light);
      }
    }
  }
}
