{{#if address.countryCode}}
  <div class="row">
    <div class="col-xs-12">
      {{input-text value=address.addressLine1 valueChanged=(action 'addressLine1Changed') placeholder="Street" inputId=inputId}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 p-r-5">
      {{input-text value=address.postalCode valueChanged=(action 'postalCodeChanged') placeholder="Postal Code"}}
    </div>
    <div class="col-xs-6 p-l-5">
      {{input-text value=address.locality valueChanged=(action 'localityChanged') placeholder="City"}}
    </div>
  </div>
{{/if}}
<div class="row">
  <div class="col-xs-12">
    {{input-select value=address.countryCode selectOptions=countrySelectOptions valueChanged=(action 'countryCodeChanged') none="-- None --"}}
  </div>
</div>