<li class={{if this.isActive "nav-item active" "nav-item"}}>
  <a role="tab" class="nav-link" data-toggle="tab" aria-expanded={{this.isActive}} {{on "click" (fn this.setActive)}}>
    {{yield}}
  </a>
</li>