<ul class="header-inner">
  <li id="menu-trigger" class="{{if sidebarToggled 'open'}}" {{action 'toggleSidebar'}}>
    <div class="line-wrap">
      <div class="line top"></div>
      <div class="line center"></div>
      <div class="line bottom"></div>
    </div>
  </li>

  <li class="logo hidden-xs">
    {{#link-to "index"}}{{title}}{{/link-to}}
  </li>
</ul>
