{{! @glint-nocheck: not typesafe yet }}
<button
  type="button"
  class="btn btn-primary"
  ...attributes
  {{on "click" (perform this.generatePdf)}}
>
  {{#if (has-block)}}
    {{yield this.generatePdf}}
  {{else}}
    {{#if this.generatePdf.isIdle}}
      {{t "label.generate"}}
    {{else}}
      {{t "label.generating"}}
      <Loading />
    {{/if}}
  {{/if}}
</button>